body {
  background-image: url(../images/hexagonalRepeatPattern.png);
  background-repeat: repeat;
  background-size: 180px;
  background-color: white;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  padding: 60px;
  font-size: 40px;
  background-color: rgb(21,117,107);
  color: white;
  border-bottom: 1px solid lightgray;
}

#ellieFace {
  height: 140px;
  position: absolute;
  margin: 85px 45%;
}

hr {
  margin: 40px 0;
  border: .5px solid lightgray;
}

p {
  line-height: 2em;
}

span {
  font-weight: bold;
}

#game {
  text-align: center;
  margin: auto;
  padding: 30px;
  background-color: white;
  width: 90%;
  border: 1px solid lightgray;
}

.litter-button {
  background-color: white;
  padding: 0;
  border: none;
}

.litter-bag {
  width: 300px;
}

/* The Modal (background) */
.modal {
    display: none; /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 440px; /* Could be more or less, depending on screen size */
}

.modal-message {
  text-align: center;
  padding: 20px;
}

.modal-image {
  text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 20px;
    padding: 40px;
  }

  #ellieFace {
    height: 120px;
    position: absolute;
    margin: 40px 40%;
  }
}
